@model DepartmentManagement.Models.ViewModel.DepartmentModels.DepartmentListViewModel

@{
    Layout = "_AdminLayout";
}
@{
    int serial = 0;
}

<div class="card">

    <div class="card-header">
        <h3 class="card-title">Department List</h3>
        <div class="card-tools">
            <a class="btn btn-primary" asp-action="Create">Create</a>
        </div>
    </div>

    <!-- /.card -->
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th style="width: 40px">Id</th>
                    <th>Description</th>
                    <th style="width: 40px">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var depatment in Model.Departments)
                {

                    <tr>
                        <td>@(++serial)</td>
                        <td>@depatment.Name</td>
                        <td>@depatment.Id</td>
                        <td>@depatment.Description</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@depatment.Id" class="badge bg-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@depatment.Id" class="badge bg-danger"></a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->

    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
<!-- /.card -->
